@font-face {
  font-family: Monserrat-Med;
  src: url('./fonts/Montserrat-Medium.woff');
}
@font-face {
  font-family: FontAwesome;
  src: url('./fonts/fontawesome-webfont.svg'),
  url('./fonts/fontawesome-webfont.eot'),
  url('./fonts/fontawesome-webfont.ttf'),
  url('./fonts/fontawesome-webfont.woff'),
}
::-webkit-scrollbar {
  border-radius: 2px;
  width: 12px;
  cursor: pointer;
}
::-webkit-scrollbar-track {  
  background-color: #bdbec0;
}
/* ::-webkit-scrollbar-thumb {  
  background-color: #333;
} */
*::-webkit-scrollbar-thumb {
    background-color: #1f2029;
    border-radius: 20px;
    border-left: 1px solid #bdbec0;
}
::-webkit-scrollbar-thumb:active {
  background-color: #3c3c3c;
}

 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
  

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr {
  margin-top: 00.5rem;
  margin-bottom: 0.5rem;
  border: none;
  width: 80%;
  height: 1px;
  margin-inline-start: 0;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
}
#root {
  width: 100vw;
  height:100vh;
}

/* #sort-nav
{
  height: 2%;
}

#sort-nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#sort-nav ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#sort-nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#sort-nav ul li.current
{
	background:#ddd
} 
#sort-nav a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

#sort-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#sort-nav a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

   */